ul{
    font-size:35px;
    font-family: 'Dancing Script', cursive;
}
img{
    height:300px;
}
h1{
    font-family: 'Fugaz One', cursive;
}
body{
    background-color: black;
    color: white;
}

a herf {
    height: 500px;
}
